*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1{
    color: #fff;
}
.DatosAlumno{
    margin-top: 10px;
    padding: 3px 10px;
    border: PowderBlue 5px dashed;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.datosEspecificos{
    margin-top: 10px;
    padding: 3px 10px;
    border: PowderBlue 5px dashed;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.datosApoderados{
    margin-top: 10px;
    padding: 3px 10px;
    border: PowderBlue 5px dashed;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form-registro{
    width: 98%;
    max-width: 700px;
    margin: auto;
    background: white;
    border-radius: 7px;  
}
.Form-Letras{
    background: rgba(231, 16, 16, 0.75);
    color: #fff;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    border-radius: 5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 5px solid deepskyblue;
}
input{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid darkgray;
}
.input-50{
    width: 100%;
    margin-right: 100%;
    margin-bottom: 10px;
}
.btn-enviar{
    background: crimson;
    color: #fff;
    display: flex;
    margin: auto;
    padding: 10px 50px;
}
.form-link{
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
}