*{
    box-sizing: border-box;
}
body{
    margin: 0;

}
body{
    background-image: url('../img/fondo.PNG');
  }
.Titulo1{
    top: 40px;
    right: 100px;
    position: relative;
}
.AgregarP h2{
    right: 200px;
    position: relative;
}
.AgregarP{
    width: 98%;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    background: white;
    border-radius: 7px;
    bottom: 300px; 
}
.ContenedorHorario{
    width: 98%;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    background: white;
    border-radius: 7px;
    bottom: 300px; 
}
.AgregarG h2{
    right: 200px;
    position: relative;
}
.AgregarG{
    width: 98%;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    background: white;
    border-radius: 7px;
    bottom: 300px; 
}

.tabla1{
    position: relative;
    margin-top:  10%;
    right: 30%;
    margin-bottom:  20%;
  }


