*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1{
    color: #fff;

}
.form-iniciosesion{
    width: 98%;
    max-width: 400px;
    margin: auto;
    margin-top: 300px;
    background: white;
    border-radius: 7px;
    bottom: 300px; 
}
.redimencionar {
    float: left;
    height: 12em;
    margin: .2em 1em 1em 0;
    overflow: hidden;
    width: 12em;
  }
  
  .redimencionar img {
    margin: -220px 0 0 -210px;
    padding: 6em 0 0 6em;
  }

.Form-Letras{
    background: rgba(231, 16, 16, 0.75);
    color: #fff;
    max-width: 500px;
    padding: 10px;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    border-radius: 5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 5px solid deepskyblue;
}
.contenedor-inputs{
    padding: 10px 30px;
}
input{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid darkgray;
}
.input-50{
    width: 100%;
    margin-right: 100%;
    margin-bottom: 10px;
}
.btn-enviar{
    background: deepskyblue;
    color: #fff;
    display: flex;
    margin: auto;
    padding: 8px 40px;
}
.btn-enviar:hover{
    box-shadow: 0 4px 16px rgba(192, 47, 66, 0.58);
    transition: all 0.2s ease;
    cursor: pointer;
}
.form-link{
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
}
