@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

html {
    height: 100%;
    background-color: #f8f8f8;
  }

body {
    
    margin: 0 auto;
    padding: 0;
    font-family: "Segoe UI Light","Segoe WPC","Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
    background-color: #f2f2f2; 
    line-height: 1.5em;
    padding-top: 80px;
}

h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

p {
    margin: 0 0 1.5em 0;
}

/************ 
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
    background: rgba(224, 224, 224, 0.9);
    color: white;
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}   
#main-header h1{
    color: #332C64;
    font-weight: bolder;
}
#main-header a {
    color: #817E7E;
}
    
    
/*
 * Logo
 */
#logo-header {
    float: left;
    padding: 8px 0 0 20px;
    text-decoration: none;
    margin: 0 auto;
}

    #logo-header .colegio-photo {
      display: block;
      margin-top: -13px;
      margin-left: -220px;
    }

    #logo-header .site-name {
        display: block;
        font-weight: 50;
        font-size: 0.4em;
        margin-top: -45px;
        margin-left: 50px;
    }

#user-header {
    float: right;
    padding: 8px 0 0 20px;
    text-decoration: none;
    margin: 0 auto;    
    margin-right: 70px;
}
  
    #user-header .user-name {
        display: block;
        font-weight: 50;
        font-size: 0.4em;
        margin-top: -8px;
    }
      
    #user-header .user-photo {
        display: block;
        font-weight: 20;
        font-size: 0.3em;
        color: #636161;
        margin-top: -48px;
        margin-right: -230px;
    }
    
/*
 * Navegación
 */

 * {
    box-sizing: border-box;
  }
  
  .menu {
    margin-top: 55px;
    display: block;
    position: relative;
    cursor: pointer;
  }
  
  .menu-title {
    display: block;
    width: 150px;
    height: 40px;
    padding: 10px 0 0;
    background: #9dc852;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s background-color;
  }
  
  .menu-title:before {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #9dc852;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 0 solid #dddddd;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
  }
  
  .menu-title:hover {
    background: #8db842;
  }
  
  .menu-title:hover:before {
    border-top-color: #8db842;
  }
  
  .menu:hover > .menu-title:before {
    border-top-width: 0;
    transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
  }
  
  .menu-title:after {
    content: "";
    display: block;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 0 solid #ebebeb;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    transition: 0.2s border-bottom ease-in;
  }
  
  .menu:hover > .menu-title:after {
    border-bottom-width: 5px;
    transition: 0.2s 0.2s border-bottom-width ease-out;
  }
  
  .menu-title_2nd {
    background: #4e96b3;
  }
  
  .menu-title_2nd:hover {
    background: #3e86a3;
  }
  
  .menu-title_2nd:before {
    border-top-color: #4e96b3;
  }
  
  .menu-title_2nd:hover:before {
    border-top-color: #3e86a3;
  }
  
  .menu-title_3rd {
    background: #c97676;
  }
  
  .menu-title_3rd:hover {
    background: #b96666;
  }
  
  .menu-title_3rd:before {
    border-top-color: #c97676;
  }
  
  .menu-title_3rd:hover:before {
    border-top-color: #b96666;
  }
  
  .menu-title_4th {
    background: #dbab58;
  }
  
  .menu-title_4th:hover {
    background: #cb9b48;
  }
  
  .menu-title_4th:before {
    border-top-color: #dbab58;
  }
  
  .menu-title_4th:hover:before {
    border-top-color: #cb9b48;
  }
  
  .menu-title_5th {
    background: #c97676;
  }
  
  .menu-title_5th:hover {
    background: #b96666;
  }
  
  .menu-title_5th:before {
    border-top-color: #c97676;
  }
  
  .menu-title_5th:hover:before {
    border-top-color: #b96666;
  }
  
  .menu-title_6th {
    background: #4e96b3;
  }
  
  .menu-title_6th:hover {
    background: #3e86a3;
  }
  
  .menu-title_6th:before {
    border-top-color: #4e96b3;
  }
  
  .menu-title_6th:hover:before {
    border-top-color: #3e86a3;
  }
  
  .menu-title_7th {
    margin-top: -46px;
    background: #9dc852;
  }
  
  .menu-title_7th:hover {
    background: #8db842;
  }
  
  .menu-title_7th:before {
    border-top-color: #9dc852;
  }
  
  .menu-title_7th:hover:before {
    border-top-color: #8db842;
  }
  
  .menu-dropdown {
    min-width: 100%;
    padding: 15px 0;
    position: absolute;
    top: 40px;
    background: #ebebeb;
    z-index: 100;
    transition: 0.5s padding, 0.5s background;
  }
  
  .menu-dropdown:after {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #ebebeb;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.5s border-top;
  }
  
  .menu:not(:hover) > .menu-dropdown {
    padding: 4px 0;
    background: #dddddd;
    z-index: 99;
  }
  
  .menu:not(:hover) > .menu-dropdown:after {
    border-top-color: #dddddd;
  }
  
  .menu:not(:hover) > .menu-title:after {
    border-bottom-color: #dddddd;
  }
  
  .menu-dropdown > * {
    overflow: hidden;
    height: 30px;
    padding: 5px 10px;
    background: transparent;
    white-space: nowrap;
    transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
  }
  
  .menu-dropdown > *:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .menu:not(:hover) > .menu-dropdown > * {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25, 25, 25, 0);
    transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
    z-index: 99;
  }
  
  .hList > * {
    float: left;
    margin-left: -15px;
    
  }
  .hList > * + * {
    margin-left: 0;
  }
  
  ul{
   text-decoration: none;
   list-style: none;
  }

/************ 
//------------------------------
// CONTENIDO
//------------------------------
************/
#main-content {
    background: white;
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
    margin-top: -40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#main-content .content {
    margin-left: -50px;
}

    #main-content .cont-izq {
      display: block;
      background: rgba(136, 136, 136, 0.75);
      width: 175px;
      height: 600px;
      border-radius: 15px;
    }

    #main-content .franja-up {
      display: block;
      background: #4e96b3;
      margin-left: -6px;
      margin-top: 30px;
      padding: 10px;
      height: 50px;
      width: 188px;
      text-align: center;
      color: white;
    }

    #main-content .opciones-up {
      display: block;
      margin-left: 20px;
      margin-top: 20px;
      height: 50px;
      width: 100px;
      text-align: left;
      color: #FFFFFF; 
    }

    #main-content .opc {
      padding: 18px;
      padding-top: 4px;
      margin-left: -32px;
      height: 30px;
      width: 200px;
      text-align: center;
    }
    
    #main-content .opc:hover {
      background-color: #4e96b3;
      width: 188px;
      margin-left: -26px;
      cursor: pointer;
    }

    #main-content .Settings {
      display: block;
      margin-left: -26px;
      margin-top: 20px;
      height: 30px;
      width: 188px;
      text-align: center;
      font-size: 20px;      
    }

    #main-content .Settings:hover {
      background-color: gray;
      cursor: pointer;
    }

    #main-content .franja-down {
      display: block;
      background: #4e96b3;
      margin-left: -6px;
      margin-top: 170px;
      padding: 10px;
      height: 50px;
      width: 188px;
      text-align: center;
      color: white;
    }

    #main-content .curso {
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      margin-top: 20px;
      text-align: center;
    }

    #main-content .combob {
      margin-top: 15px; 
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px;
    }
    
    #main-content .nuevom {
      text-align: center;
      margin-top: 15px; 
    }

    #main-content .cont-der {
      display: block;
      background: rgba(230, 230, 230, 0.85);
      width: 570px;
      height: 600px;
      margin-left: 210px;
      margin-top: -600px;
      border-radius: 15px;
    }

    #main-content .mensaje {
      display: block;
      border-radius: 15px;
      background: rgba(128, 128, 128, 0.4);
      width: 540px;
      height: 120px;      
      text-align: left;
      margin-left: 15px;
      padding: 15px;
      color: #6D6D6D;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #main-content .remitente {
      margin-top: 10px;
    }

    #main-content .mensajeing {
      margin-left:218px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px;  
      margin-top: -20px;          
    }

    #main-content .mensajeing:hover {
      background: #4e96b3;
      color: white;
      width: 75px;
      height: 30px;
      margin-left: 208px;
      text-align: center;
      font-size: 18px;
      cursor: pointer;    
    }

    #main-content .content {
      padding: 50px;
    }
    
    #main-content .titulo {
      margin-top: 80px;
    }
    
.hList > * {
        margin-left: -100px;
        margin-top: -5px;
        display: inline;
}
.hList > * + * {
  margin-left: 0px;
}

/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/
#main-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: -20px;
    bottom: 0;
    width: 100%;
    position: relative;
}
    #main-footer p {
        margin: 0;
    }
    
    #main-footer a {
        color: #948D8D;
        font-size: 16px;
    }